<div class="row message-class">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p>Hi {{name}},</p>
        <p>Forgot your password? dont't worry, click below link to reset your password.</p>
    </div>
</div>
<div class="row message-class">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center">
        <a href="{{resetPasswordLink}}" class="action-class">RESET PASSWORD</a>
    </div>
</div>