<div class="row header-class">
    <h1 style="text-align: center">Welcome to Tracker</h1>
</div>
<div class="row message-class">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p>Hi Pratyancha,</p>
        <p>Rohan has invited you to Tracker, a personal tracking application.</p>
    </div>
</div>
<div class="row message-class">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center">
        <a href="#" class="action-class">GET STARTED</a>
    </div>
</div>
<div class="row message-class">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-text">
        Things you can do with Tracker
    </div>
</div>
<div class="row module-div">
    <div>
        <table class="module-class">
            <tr>
                <td>
                    <div class="module-icon">
                        <img src="cid:finance-icon"/>
                    </div>
                </td>
                <td>
                    <div class="module-details">
                        <p class="module-title">Finance</p>
                        <p>Enables user to track his all financial activities like money at hand, monthly expense, budget management and financial analytics.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row module-div">
    <div>
        <table class="module-class">
            <tr>
                <td>
                    <div class="module-icon">
                        <img src="cid:contact-icon"/>
                    </div>
                </td>
                <td>
                    <div class="module-details">
                        <p class="module-title">Contact</p>
                        <p>Enables user to track his contacts, contact groups and financial settlements with contacts.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row module-div">
    <div>
        <table class="module-class">
            <tr>
                <td>
                    <div class="module-icon">
                        <img src="cid:grocery-icon"/>
                    </div>
                </td>
                <td>
                    <div class="module-details">
                        <p class="module-title">Grocery</p>
                        <p>Enables user to track grocery items, out of stock items and share list with other users.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>